server:
  port: 8080

auth:
  service:
    url: http://auth-service:8081

spring.cloud.gateway.server.webflux:
  globalcors:
    corsConfigurations:
      "[/**]":
        allowedOrigins:
          - "http://localhost:5173"
          - "http://localhost:3000"
        allowedMethods: "*"
        allowedHeaders: "*"
        allowCredentials: true

  routes:
    - id: auth-service-route
      uri: http://auth-service:8081 # change host and port to this
      predicates:
        - Path=/api/auth/**
      filters:
        - StripPrefix=1 # remove /api from uri

      # http:localhost:8080/api/auth/login -> http://auth-service:8081/auth/login

    - id: user-service-route
      uri: http://user-service:8082
      predicates:
        - Path=/api/user/**
      filters:
        - StripPrefix=1
        - JwtValidation

    # no email-service bcos it has no direct api that can be called via gateway.
    # email-service acts upon events produced into kafka.